<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515780650313-ka4057d0noo65spjrfbl0fdldoel99kv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515780650313-ka4057d0noo65spjrfbl0fdldoel99kv</string>
	<key>API_KEY</key>
	<string>AIzaSyDAfc9VXZDmZlflr1KBu4uQf2lBGglBr5c</string>
	<key>GCM_SENDER_ID</key>
	<string>515780650313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.pokemon.fellipe.pokemonAppGetx</string>
	<key>PROJECT_ID</key>
	<string>pokemonfb-7d2dd</string>
	<key>STORAGE_BUCKET</key>
	<string>pokemonfb-7d2dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515780650313:ios:533432755b4f4f2399e698</string>
</dict>
</plist>